<div class="index-box mt-4">
    <div class="index-title-box">
        <h1 class="index-title display-4">Sobre la Aplicación</h1>
    </div>
    <div class="index-description">
        <p> Aplicación realizada con NodeJS, y MongoDB para
            la creación de notas, en la que te podrás dar de 
            alta con tu usuario, y tendrás tus notas almacenadas
            que solamente tu podrás crear, modificar y Borrar.</p>
    </div>
</div>