<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb!</h1>
  <p class="lead">App subida de imagenes y poniendo sus nombres y añadiendo su descripción usando NodeJS y MongoDB</p>
  <hr class="my-4">
  <p>TxV</p>
</div>